	<table width="749" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td width="749">&nbsp;</td>
	  </tr>
	  <tr align="bottom">
		<td width="749">
		  <blockquote>
			<p>$mensaje</br>
			<a href="http://www.bmv.com.mx">www.bmv.com.mx</a> - Bolsa Mexicana de Valores</br>
			</p>
		  </blockquote>
		</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	</table>
